body {
    margin-top: 70px;
}

textarea
{
    resize: none;
}

div.book-row
{
    margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
    .book-row .book {
        margin-bottom: 10px !important;
    }
}

.forsale
{
    margin-top: 28px;
}

.panel-heading span
{
    padding-left: 5px;
}

.book-details ul
{
    list-style-type: none;
}

.book-details li
{
    margin-left: -40px;
}

.book-details-buy
{
    margin-top: .5em;
    width: 200px;
}