body {
    margin-top: 70px;
}

textarea
{
    resize: none;
}

div.book-row
{
    margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
    .book-row .book {
        margin-bottom: 10px !important;
    }
}

.forsale
{
    margin-top: 28px;
}

.panel-heading span
{
    padding-left: 5px;
}

.book-details ul
{
    list-style-type: none;
}

.book-details li
{
    margin-left: -40px;
}

.book-details-buy
{
    margin-top: .5em;
    width: 200px;
}

.dashboard a {
    text-decoration: none !important;
}

.dashboard td {
    vertical-align: middle !important;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 100px;
}

div.delete-photo {
  background: rgba(0,0,0,0.5);
  color: white;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100px;
  height: 150px;
}

div.delete-photo a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

ul.img-list li:hover div.delete-photo {
  opacity: .7;
}